html, body {
    font-family: "Segoe UI Light", "Calibri Light", "Helvetica", "Arial", "Times New Roman";
    background-color: #f3f3f3;
    color: #46494C;
}

a {
    color: #4C5C68;
}

a:hover {
    color: #1985A1;
}

/* From https://github.com/twbs/bootstrap/blob/master/dist/css/bootstrap.css */
.container {
    margin-top: 20px;
}

header {
    margin-top: 40px;
}

header h1,
header p {
    text-align: center;
}

header img {
    display: block;
    margin: auto;
    border-radius: 50%;
}

.links {
    width: 122px;
    margin: auto;
}

.links a {
    margin: 0px 5px;
    font-size: 1.266em
}

.all-posts,
.posts-page,
.tribute {
    margin: 0 auto;
}

.posts-page,
.tribute {
    width: 60%;
}

.tribute {
    font-size: smaller;
    text-align: center;
}

.posts {
  list-style-type: none;
  margin-bottom: 2em;
  padding-left: 0.1em;
}

  .posts li {
    line-height: 1.75em;
  }

  .posts span,
  .post .meta {
    color: #aaa;
    font-family: "Courier New", "Consolas";
    font-size: 80%;
  }

@media(max-width: 992px) {
    .posts span {
        display: none;
    }
}

.post img {
    display: block;
    max-width: 60%;
    margin: 0 auto;
}

.post img + em {
    display: block;
    text-align: center;
    font-size: small;
}

.post table {
    margin-bottom: 2em;
}

.post td, 
.post th {
    padding: 0.6em;
}

.post td {
    border-top: 1px solid #ccc;
}
