<h2>Leave your response</h2>
<form action="/fake" method="post" id="commentform" novalidate>
  <fieldset id="commentfields">
    <input name="redirect" type="hidden" value="{{ page.url | absolute_url }}">
    <input name="post_id" type="hidden" value="{{ slug }}">
    <input name="comment-site" type="hidden" value="{{ site.url }}">

    <div class="form-group">
      <textarea class="form-control" name="message" id="message" placeholder="Continue the discussion." required></textarea>
      <div class="invalid-feedback">
          Please enter your comment.
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="name">Name</label>
          <input class="form-control" type="text" name="name" id="name" placeholder="Name" required/>
          <small class="form-text text-muted">(Required, displayed)</small>
          <div class="invalid-feedback">
              Please enter your name.
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" type="email" name="email" id="email" placeholder="myemail@somedomain.com" required/>
          <small class="form-text text-muted">(Required, not shown)</small>
          <div class="invalid-feedback">
              Please enter a valid e-mail address.
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="url">Website</label>
          <input class="form-control" type="text" name="url" id="url" placeholder="https://mywebsite.com" />
          <small class="form-text text-muted">(Optional, displayed)</small>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button onclick="setupForm()" type="button" class="btn btn-light" id="commentbutton">Leave response</button>
    </div>
  </fieldset>
</form>
<script>
    function setupForm() {
      var form = document.getElementById('commentform')
      var isInvalid = form.checkValidity() === false;
      form.classList.add('was-validated');
      if (isInvalid) {
        return;
      }
  
      var button = document.getElementById('commentbutton')
      var confirmText = 'Confirm response';
      if (button.innerText != confirmText) {
        button.innerText = confirmText;
        return
      }
  
      form.action = '{{ site.comments.receiver }}'
      button.innerText = 'Posting...'
      button.disabled = true
      var fields = document.getElementById('commentfields')
      fields.disabled = true
      form.submit()
    }
  </script>
