<div class="links">
  <a href="https://github.com/mehmetseckin"><i class="fa fa-github" title="Mehmet Seckin's GitHub Profile" aria-hidden="true"></i></a>
  <a href="https://stackoverflow.com/story/mehmetseckin"><i class="fa fa-stack-overflow" title="Mehmet Seckin's StackOverflow developer story" aria-hidden="true"></i></a>
  <a href="https://linkedin.com/in/mehmet-seckin"><i class="fa fa-linkedin" title="Mehmet Seckin's LinkedIn Profile" aria-hidden="true"></i></a>
  <a href="https://dev.to/mehmetseckin">  <i class="fab fa-dev" title="Mehmet Seckin's DEV Profile" aria-hidden="true"></i></a>
  <a href="/atom.xml"><i class="fa fa-rss" title="Mehmet Seckin's atom feed" aria-hidden="true"></i></a>
</div>
