<div class="links">
  <a href="https://github.com/mehmetseckin"><i class="fab fa-github" title="Fork Mehmet on GitHub" aria-hidden="true"></i></a>
  <a href="https://stackoverflow.com/story/mehmetseckin"><i class="fab fa-stack-overflow" title="View Mehmet's StackOverflow developer story" aria-hidden="true"></i></a>
  <a href="https://linkedin.com/in/mehmet-seckin"><i class="fab fa-linkedin" title="Connect with Mehmet on LinkedIn" aria-hidden="true"></i></a>
  <a href="https://dev.to/mehmetseckin"><i class="fab fa-dev" title="Mehmet's DEV Profile" aria-hidden="true"></i></a>
  <a href="https://twitter.com/_mehmetseckin"><i class="fab fa-twitter" title="Follow Mehmet on Twitter" aria-hidden="true"></i></a>
  <a href="/atom.xml"><i class="fa fa-rss" title="Mehmet's atom feed" aria-hidden="true"></i></a>
</div>
