<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120541595-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-120541595-1');
  </script>
  <meta charset="utf-8">
  <meta name="author" content="Mehmet Seckin" />
  <title>Mehmet Seckin - Software Engineer / Microsoft Dynamics 365 Consultant</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/static.css">
</head>

<body>
  <div class="container">
    <div class="content">
    {{ content }}
    </div>
  </div>
</body>
</html>