---
layout: default
---
<div class="post-page">
  <a href="/">&laquo; Home</a>

  <div class="post">
  
  {% if page.title %}
  <h1>{{ page.title }}</h1>
  {% endif %}
  
  <p class="meta">
    {% if page.meta %}
      {{ page.meta }} &bullet; 
    {% endif %}
    <a href="#disqus_thread">Post a comment</a>
  </p>

  {{ content }}
  </div>

  {% if page.commenting == 'open' %}
    {% include disqus.html %}
  {% endif %}
  
  {% if site.related_posts.size > 0 %}
  <div id="related">
    <h2>Related Posts</h2>
    <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}#disqus_thread">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
  
  <hr />
  <div class="footer">
    <p>
        Mehmet Seckin
        <br />
        Software Engineer, Consultant    
    </p>

    {% include links.html %}

    {% include tribute.html %}
  </div>
</div>
